h1{
			color: darkblue;
			text-align: center;
		}
p{
	color:blue;
}
p::selection{
	color:white;
	background-color: darkgrey;
}
div{
	text-align: center;
	width: 80%;
	height: 40%;
}
	#bod{
	background-image: url("Img/Img1.jpg");
	background-repeat: no-repeat;
	background-size:60%;
	background-position: 50% 50%;
}
input[type=text]{
	background-color: white;
}
input[type=password]{
	background-color: white;
}
input[type=email]{
	background-color: white;
}
input[type=tel]{
	background-color: white;
}
input[type=datetime-local]{
	background-color: white;
}
input[type=reset]{
	background-color: white;
}
button {
	width: 60px;
	height: 20px;
	font-size: 13px;
	background-color: white;
	align-content: center;
}
button:hover {
	background-color: white;
}
a::before {
	content: "\21d2";
	font-weight: bold;
}
@media print{
	.screen-only{
		display: none;
	}
}
@media (min-width: 300px){
	#bod{
		background-color: red;
	}
}
@media (max-width: 780px) {
	#bod{
		background-color: green;
	}
}
@media (min-width: 300px){
	#bodi{
		background-color: red;
	}
}
@media (min-width: 780px){
	#bodi{
		background-color: green;
	}
}